/* Make the page fill the entire screen */
html, body {
    height: 100%;
    margin: 0;
}

/* Make the map fill the entire screen */
#map {
    height: 100vh;
    width: 100vw;
}

#searchBar {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    width: min(95vw, 900px);
    height: 56px;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    border: 2px solid transparent;      /* new addition */
    background: white;
    border-radius: 999px;
    padding: 0.1rem;

    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    z-index: 1000;
    transition: border 0.2s, background 0.2s; /*new addidition */
}

/* new block; replaces input:focus */
#searchBar:focus-within {
    border-color: #595F72;
    background-color: white;
}

/* new block; replaces input */
#nameSearch {
    flex: 1;                     /* Take all remaining space */
    border: none;                /* Remove input default border */
    outline: none;               /* Remove default focus glow */
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 999px;        /* Keep pill rounded inside container */
    background: transparent;     /* Transparent so container shows bg */
}

/* #searchBar input {
    flex: 1;                 /* fills available space //
    height: 100%;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: 'Merriweather', sans-serif;
    border-radius: 999px;
    background: transparent;

    /* Smooth transition for glow //
    transition: box-shadow 0.3s ease;
}

/* Focus state //
#searchBar input:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
Testing change; this is previous code before test update */

#filterBtn {
    background-color: #595F72; /* from white to new */
    color: white; /* new addition */
    border: none;
    cursor: pointer;
   /* font-size: 1.1rem; */
    padding: 0.5rem 1rem; /*added 1rem */
    border-radius: 999px;
    margin-left: 0.5rem; /*new addition; space between input & button*/
}

#filterPanel {
    position: absolute;
    top: 70px; /* below search bar */
    left: 50%;
    transform: translateX(-50%) translateY(-20px); /* start slightly above */
    background: white;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);

    opacity: 0;
    pointer-events: none;

    transition: all 0.3s ease;
}

/* Open state */
#filterPanel.open {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-50%) translateY(0);
}

