/* Make the page fill the entire screen */
html, body {
    height: 100%;
    margin: 0;
}

/* Make the map fill the entire screen */
#map {
    height: 100vh;
    width: 100vw;
}

#searchButton {
    position: absolute;
    background: #595F72;
    box-sizing: border-box;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: min(60vw, 22rem);
    max-height: 30vh;
    z-index: 1000;
    border-radius: 999px;
    padding: 1rem;
    font-family: 'Merriweather', sans-serif;
}

#filters {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    padding: 10px;
    z-index: 1000;
    border-radius: 6px;
    font-family: 'Merriweather', sans-serif;
}

#searchButton input,
#filters input,
#filters select,
#filters button {
    display: block;
    margin-bottom: 6px;
    width: 180px;
}
