/* Make the page fill the entire screen */
html, body {
    height: 100%;
    margin: 0;
}

/* Make the map fill the entire screen */
#map {
    height: 100vh;
    width: 100vw;
}

#filters {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    padding: 10px;
    z-index: 1000;
    border-radius: 6px;
    font-family: Arial, sans-serif;
}

#filters input,
#filters select,
#filters button {
    display: block;
    margin-bottom: 6px;
    width: 180px;
}
